*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: #fff;
    
}

h1{
    text-align: center;
}
.container{
    
    
    font-size: 25px;
    padding: 20px;
    margin: 0;
}
.line{
    padding-left: 60px;
    padding-right: 60px;
    
}
.image{
    padding-left: 22%;
    padding-right: 20%;
    
}
.biohade,.panel-heading{
    padding: 5%;
    
}
.boi{
    padding-left: 10%;
    padding-right: 10%;
}
.copyright {
    font-size:medium;
 
    color:rgb(16, 18, 156);
    font-style:oblique;
}
.logo img{
    padding: 5px;
    border-radius: 400px;
}
